
<div class= "row">
    <% @books.each do |b| %>
    <div class="card mt-3 ms-3 text-center row" style="width: 35rem;">
        <div class="card-body row">
            <h6 class="card-subtitle mb-2 fs-3"> Name : <%= b.book_name %></h6>
            <%= link_to 'View book', book_path(b), class: "btn btn-outline-info" %> 
        </div>
    </div>
    <% end %>
</div>






